@using System.Text.Json
@model BusinessSolutions.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";

    string names = Model.Filter.OrderItemNames is IEnumerable<string> orderItemNames ? JsonSerializer.Serialize(orderItemNames) : "";
    string units = Model.Filter.OrderItemUnits is IEnumerable<string> orderItemUnits ? JsonSerializer.Serialize(orderItemUnits) : "";
}

<a asp-action="Index" class="btn btn-close-white">Вернуться к заказам</a>
<header>Информация о заказе</header>
<aside>
    <form asp-action="Details" asp-route-id=@Model.Order.Id >
        <input type ="submit" class="btn btn-sm btn-info filterButton" value="Отфильтровать" />
    <table>
        <tbody>
            <tr>
                    <td style="border: 0;">
                    <label for="numberMultipleSelect">По названиям:</label>
                </td>
                <td style="border: 0; width: 60%;">
                        <select multiple id="orderItemNamesSelect" name="orderItemNames" style="width: 100%;" asp-items="@Model.OrderItemNames"></select>
                </td>
                <td style="border: 0;">
                        <a onclick="clearMultipleSelect('orderItemNamesSelect')" class="btn btn-sm btn-outline-light">X</a>
                </td>
            </tr>
            <tr>
                <td style="border: 0;">
                    <label for="providerMultipleSelect">По продуктам:</label>
                </td>
                <td style="border: 0;">
                        <select multiple id="orderItemUnitsSelect" name="orderItemUnits" style="width: 100%;" asp-items="@Model.OrderItemUnits"></select>
                </td>
                <td style="border: 0;">
                        <a onclick="clearMultipleSelect('orderItemUnitsSelect')" class="btn btn-sm btn-outline-light">X</a>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</aside>

<section class="detailsSection">
    <div class="btn-right">
        <a asp-action="Create" asp-route-id="@Model.Order.Id" class="btn btn-sm btn-info">Редактировать</a>
        <a asp-action="Delete" asp-route-id="@Model.Order.Id" class="btn btn-sm btn-danger">Удалить</a>
    </div>

    <table class="head">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Order.Number)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Order.Number)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Order.Date)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Order.Date)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Order.ProviderId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Order.Provider.Name)
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="margin-bottom: 20px;">Элементы заказа</h3>
    <table class="table table-sm table-dark incrementRow">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Продукт</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.FilteredOrderItems)
                {
                                <tr>
                                    <td class="increment"></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                </tr>
                }
            }
        </tbody>
    </table>
</section>
<script>
    window.onload = function onLoad() {
        setSelectedOptions("#orderItemNamesSelect", @Html.Raw(names));
        setSelectedOptions("#orderItemUnitsSelect", @Html.Raw(units));

        $('#orderItemNamesSelect').chosen();
        $('#orderItemUnitsSelect').chosen();
    };

    function setSelectedOptions(id, filterItems) {
        let selectFilterOptions = document.querySelector(id).options;

        for (let i = 0; i < selectFilterOptions.length; i++) {
            if (filterItems != undefined && filterItems.includes(selectFilterOptions[i].innerText)) {
                selectFilterOptions[i].selected = true;
            }
        }
    }

    function clearDate(id) {
        $(`#${id}`)[0].value = '';
    }

    function clearMultipleSelect(id) {
        for (let item of document.getElementById(id).options) {
            if (item.selected) {
                item.selected = false;
            }
        }

        $(`#${id}`).trigger('chosen:updated');
    }

</script>