@using System.Text.Json
@using BusinessSolutions.ViewModels
@model BusinessSolutions.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";

    string dateFromString = Model.Filter.DateFrom is DateTime dateFrom ? dateFrom.ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T') : "";
    string dateToString = Model.Filter.DateTo is DateTime dateTo ? dateTo.ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T') : "";
    string numbers = Model.Filter.Numbers is IEnumerable<string> orderNumbers ? JsonSerializer.Serialize(orderNumbers) : "";
    string providerNames = Model.Filter.ProviderNames is IEnumerable<string> orderProviderNames ? JsonSerializer.Serialize(orderProviderNames) : "";
}

<header>Заказы</header>

<aside>
    <form method="post" asp-action="Index">
        <input type="submit" class="btn btn-sm btn-info filterButton" value="Отфильтровать" />
        <table>
            <tbody>
                <tr>
                    <td rowspan="2" style="border: 0;">
                        <span>По дате:</span>
                    </td>
                    <td style="border: 0;">
                        <label for="dateFrom">С:</label>
                        <input type="datetime-local" name="dateFrom" id="dateFrom" value="@dateFromString" class="bg-dark text-white" style="float: right; width: 180px; margin-left: 5px;" />
                    </td>
                    <td style="border: 0;">
                        <a onclick="clearDate('dateFrom')" class="btn btn-sm btn-outline-info">X</a>
                    </td>
                </tr>
                <tr>
                    <td style="border: 0;">
                        <label for="dateTo">По:</label>
                        <input type="datetime-local" name="dateTo" id="dateTo" value="@dateToString" class="bg-dark text-white" style="float: right; width: 180px; margin-left: 5px;" />
                    </td>
                    <td style="border: 0;">
                        <a onclick="clearDate('dateTo')" class="btn btn-sm btn-outline-info">X</a>
                    </td>
                </tr>
                <tr>
                    <td style="border: 0;">
                        <label for="numberMultipleSelect">По номерам:</label>
                    </td>
                    <td style="border: 0;">
                        <select multiple id="numberMultipleSelect" name="Numbers" style="width: 100%;" asp-items="@Model.OrderNumbers"></select>
                    </td>
                    <td style="border: 0;">
                        <a onclick="clearMultipleSelect('numberMultipleSelect')" class="btn btn-sm btn-outline-info">X</a>
                    </td>
                </tr>
                <tr>
                    <td style="border: 0;">
                        <label for="providerMultipleSelect">По поставщикам:</label>
                    </td>
                    <td style="border: 0;">
                        <select multiple id="providerMultipleSelect" name="ProviderNames" style="width: 100%;" asp-items="@Model.ProviderNames"></select>
                    </td>
                    <td style="border: 0;">
                        <a onclick="clearMultipleSelect('providerMultipleSelect')" class="btn btn-sm btn-outline-info">X</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</aside>

<section>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1" style="margin-bottom: 20px;">Добавить заказ</a>
    <table class="table table-hover table-dark incrementRow" id="orderTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Номер</th>
                <th>Дата</th>
                <th>Поставщик</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td class="increment">
                        <form method="post" asp-action="Details">
                            <input type="hidden" name="orderId" value=@item.Id />
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Provider.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<script>
    $('#orderTable').on('click', 'tr', function (e) {
        $(this).find('form').submit();
    });

    window.onload = function onLoad(){
        setSelectedOptions("#numberMultipleSelect", @Html.Raw(numbers));
        setSelectedOptions("#providerMultipleSelect", @Html.Raw(providerNames));

        $('#numberMultipleSelect').chosen();
        $('#providerMultipleSelect').chosen();
    };

    function setSelectedOptions(id, filterItems) {
        let selectFilterOptions = document.querySelector(id).options;

        for (let i = 0; i < selectFilterOptions.length; i++) {
            if (filterItems != undefined && filterItems.includes(selectFilterOptions[i].innerText)) {
                selectFilterOptions[i].selected = true;
            }
        }
    }

    function clearDate(id) {
        $(`#${id}`)[0].value = '';
    }

    function clearMultipleSelect(id) {
        for (let item of document.getElementById(id).options) {
            if (item.selected) {
                item.selected = false;
            }
        }

        $(`#${id}`).trigger('chosen:updated');
    }

</script>

